{% extends 'registration/base.html' %}
{% load bootstrap4 %}

{% block content %}
<div
    style="background: url('https://images.pexels.com/photos/3394939/pexels-photo-3394939.jpeg?cs=srgb&dl=pexels-matheus-natan-3394939.jpg&fm=jpg'); background-color: rgba(21, 27, 26, 0.4); height: 90%;">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="margin-top: 3rem; margin-bottom: 3rem;">
            <div class="card">
                <div class="card-title mt-1">
                    <img src="" alt="" width="40%" class="D-block mx-auto">
                </div>
                <div class="card-body mb-1 mr-3 ml-2">
                    <div class="logo ">
                        <h3 class="text-center"><strong>Sign Up</strong></h3>
                    </div>
                    <br>
                    <form action="" method="post" novalidate>
                        {% csrf_token %} {% bootstrap_form form layout='inline' %}
                        <button type="submit" class="btn btn-dark  btn-sm"> Sign up</button>
                    </form>
                </div>
                
            </div>
            <div class="card mt-2">
                <div class="card-body mt-3 mb-2 mr-3 ml-3">
                    <p>Have an account? <a href="/login">Log in</a> </p>
                </div>
            </div>

        </div>

        <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}